<ion-header>
  <ion-toolbar>
    <ion-title>
      Grocery List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <h2 slot="start">Milk</h2>
        <p slot="end">1</p>
      </ion-item>
      <ion-item-options side="end">
          <button ion-button>
              <ion-icon name="trash" size="large"></ion-icon>
          </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
          <h2 slot="start">Eggs</h2>
          <p slot="end">3</p>
        </ion-item>
        <ion-item-options side="end">
            <button ion-button>
                <ion-icon name="trash" size="large"></ion-icon>
            </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
          <ion-item>
            <h2 slot="start">Butter</h2>
            <p slot="end">4</p>
          </ion-item>
          <ion-item-options side="end">
              <button ion-button>
                  <ion-icon name="trash" size="large"></ion-icon>
              </button>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item>
              <h2 slot="start">Bread</h2>
              <p slot="end">1</p>
            </ion-item>
            <ion-item-options side="end">
                <button ion-button>
                    <ion-icon name="trash" size="large"></ion-icon>
                </button>
            </ion-item-options>
          </ion-item-sliding>
  </ion-list>
</ion-content>
